alembic
asttokens
attrs
autopep8
backcall
blinker
certifi
charset-normalizer
click
colorama
comm
ConfigArgParse
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-table
decorator
executing
fastjsonschema
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
fonttools
greenlet
idna
importlib_metadata
importlib_resources
ipython
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_core
jupyterlab_widgets
kiwisolver
Mako
MarkupSafe
matplotlib
matplotlib-inline
nbformat
nest-asyncio
numpy
# open3d
packaging
parso
pickleshare
pillow
pkgutil_resolve_name
platformdirs
plotly
prompt-toolkit
pure-eval
pycodestyle
Pygments
pyparsing
pyserial
python-dateutil
# pywin32
referencing
requests
retrying
rpds-py
six
SQLAlchemy
stack-data
tenacity
tomli
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
widgetsnbextension
zipp
